workflows/WF-001_legal_variant.json
{
  "name": "WF-001-LEGAL: Advokacie a právní služby",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-001-legal",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wf001leg-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "wf-001-legal"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0
        }
      },
      "id": "wf001leg-openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [300, 520],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_ME",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are an expert legal document data extraction parser operating in a strict automated pipeline.\nYour task is to extract structured information from legal document text, contract clauses, or case descriptions.\nYou must return ONLY a valid JSON object. Do not include markdown formatting, explanations, or any other text.\n\nRequired JSON structure:\n{\n  \"clause\": \"string or null\",\n  \"risk_level\": \"low|medium|high|critical or null\",\n  \"identified_issues\": \"string or null\",\n  \"recommendation\": \"string or null\",\n  \"includeMetadata\": \"boolean\"\n}\n\nExtraction rules:\n1. If a value is not explicitly mentioned, set it to null.\n2. risk_level must be one of: low, medium, high, critical — infer from context if not stated.\n3. identified_issues: summarize all legal risks found in one concise sentence.\n4. recommendation: provide one concrete action step.\n5. includeMetadata: set to true if the document contains dates, signatures, or parties."
            }
          ]
        },
        "batching": {}
      },
      "id": "wf001leg-llm",
      "name": "LLM Extract",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [300, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// WF-001 Validation Gate — universal\n// Change requiredFields per variant\n\nconst rawOutput = $input.item.json.text ?? $input.item.json.output;\nlet extractedData;\nlet isValid = true;\nlet errorMessages = [];\n\ntry {\n  extractedData = typeof rawOutput === 'string'\n    ? JSON.parse(rawOutput)\n    : rawOutput;\n} catch (error) {\n  return [{\n    json: {\n      status: \"error\",\n      errors: [\"Failed to parse LLM output as JSON\"],\n      rawData: rawOutput\n    }\n  }];\n}\n\nconst requiredFields = ['clause', 'risk_level', 'identified_issues'];\n\nfor (const field of requiredFields) {\n  if (\n    !extractedData.hasOwnProperty(field) ||\n    extractedData[field] === null ||\n    extractedData[field] === \"\"\n  ) {\n    isValid = false;\n    errorMessages.push(`Missing critical field: ${field}`);\n  }\n}\n\nif (isValid) {\n  return [{ json: { status: \"success\", data: extractedData } }];\n} else {\n  return [{ json: { status: \"error\", errors: errorMessages, partialData: extractedData } }];\n}"
      },
      "id": "wf001leg-validation",
      "name": "Validation Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "wf001leg-cond-success",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "wf001leg-cond-error",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "id": "wf001leg-switch",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME",
          "cachedResultName": "Právní analýzy"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Sheet1",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $now.toISO() }}",
            "Klauzule": "={{ $json.data.clause }}",
            "Riziko": "={{ $json.data.risk_level }}",
            "Problémy": "={{ $json.data.identified_issues }}",
            "Doporučení": "={{ $json.data.recommendation }}",
            "Metadata": "={{ $json.data.includeMetadata }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Datum", "displayName": "Datum", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Klauzule", "displayName": "Klauzule", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Riziko", "displayName": "Riziko", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Problémy", "displayName": "Problémy", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Doporučení", "displayName": "Doporučení", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Metadata", "displayName": "Metadata", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "id": "wf001leg-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1200, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_ME",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME",
          "cachedResultName": "#pravo-alerts"
        },
        "text": "=⚠️ *WF-001: Neúplná poptávka*\n\nByla přijata poptávka, ale chybí kritická data:\n{{ $json.errors.join('\\n• ') }}\n\nČástečná data:\n{{ JSON.stringify($json.partialData, null, 2) }}\n\n👉 Zkontrolujte prosím ručně a doplňte.",
        "otherOptions": {}
      },
      "id": "wf001leg-slack",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 420],
      "credentials": {
        "slackApi": {
          "id": "CONFIGURE_ME",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "LLM Extract", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "LLM Extract", "type": "ai_languageModel", "index": 0 }]]
    },
    "LLM Extract": {
      "main": [[{ "node": "Validation Gate", "type": "main", "index": 0 }]]
    },
    "Validation Gate": {
      "main": [[{ "node": "Route by Status", "type": "main", "index": 0 }]]
    },
    "Route by Status": {
      "main": [
        [{ "node": "Google Sheets", "type": "main", "index": 0 }],
        [{ "node": "Slack Alert", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "wf001leg-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "wf001leg-ai-sme-integrator"
  },
  "tags": [{ "name": "WF-001" }, { "name": "Legal" }]
}
